 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

 body {
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif !important;
 }

 .css-1633um2-MuiPaper-root {
     font-family: 'Montserrat', sans-serif !important;
 }

 .p-50 {
     padding: 50px 0px;
 }

 a {
     text-decoration: none;
 }

 .topbar {
     background: #528fcb;
     color: #fff;
     padding: 10px 0px;
 }

 .header {
     display: inline-block;
     width: 100%;
     box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
     background: #fff;
     transition: all 1s ease 0s;
     top: -120px;
 }

 .header.fix-header {
     position: sticky;
     top: 0px;
     box-shadow: 0 0 10px 0 #ccc;
     z-index: 9;
 }

 .bound {
     max-width: 1240px;
     margin: 0px auto;
     width: 100%;
 }

 .topsec {
     display: flex;
     justify-content: space-between;
     padding: 10px 0px 0px;
     align-items: baseline;
 }

 .logo {
     font-weight: bold;
 }

 .logo img {
     height: 80px;
 }

 .menu {
     position: relative;
     top: -10px;
 }

 .menu ul {
     margin: 0px;
     padding: 0px;
     display: flex;
 }

 .menu ul li {
     display: flex;
     position: relative;
 }

 .menu ul li a {
     text-decoration: none;
     color: #0e314c;
     padding: 0px 20px;
     font-weight: 500;
     line-height: 30px;
 }

 li.nav-item.get-free a {
     background: #528fcb;
     color: #fff;
     border: 1px solid #528fcb;
     transition: all 1s ease 0s;
     padding: 5px 20px;
     margin-top: -10px;
     border-radius: 10px;
 }

 li.nav-item.get-free a:hover {
     background: #fff;
     color: #528fcb;
 }

 .menu ul li>ul li {
     width: 100%;
 }

 .menu ul li>ul li a {
     padding: 10px 0px;
     font-size: 14px;
     border-bottom: 1px solid #ccc;
     width: 100%;
     display: inline-block;
 }

 .menu ul li>ul li:last-child a {
     border-bottom: 0px;
 }

 .menu ul li.parent {
     position: relative;
     display: inline-block;
 }

 .menu ul li.parent ul {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 224px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 9;
     padding: 10px 15px;
 }

 .menu ul li.parent:hover ul {
     display: block;
 }

 /* Footer Css */
 .footer {
     border-top: 1px solid #ccc;
     background-size: auto;
 }

 .footer .info-box {
     text-align: left;
 }

 .f-logo {
     margin-bottom: 10px;
 }

 .f-logo img {
     width: 150px;
 }

 .fab-content {
     font-weight: 500;
     color: #20366a;
 }

 .footer ul.c-ingo {
     padding: 0px;
     margin: 0px;
 }

 .footer ul.c-ingo li {
     list-style: none;
     font-size: 16px;
     font-weight: 500;
     color: #20366a;
     line-height: 40px;
     display: flex;
     align-items: center;
 }

 .footer ul.c-ingo li svg {
     margin-right: 10px;
 }

 .social-icon {
     display: flex;
     border-top: 1px solid;
     width: 100%;
     padding-top: 10px;
     margin-top: 10px;
     color: #20366a;
     font-weight: 500;
 }

 .social-icon a {
     color: #20366a;
     margin-left: 20px;
 }

 .copyright {
     background: #528fcb;
 }

 .remove-bg {
     background: none !important;
 }

 .copyright p {
     color: #fff;
 }

 /* Inner pages */
 .page-title {
     color: #528fcb;
     font-size: 30px;
     line-height: 40px;
     font-weight: 600;
     margin-top: 40px;
 }

 .page-content {
     min-height: 200px;
 }

 .banner img {
     width: 100%;
 }

 .banner .page-title {
     color: #528fcb;
     margin-top: 0px;
 }

 .contact-form {
     text-align: center;
 }

 .contact-form .page-title {
     margin-bottom: 30px;
 }

 .contact-form form {
     max-width: 800px;
     margin: 0px auto;
 }

 .submit-row {
     text-align: center;
     padding-bottom: 30px;
 }

 .submit-row button {
     padding: 10px 40px;
 }

 .contact-form .css-11bcn3z .MuiTextField-root:last-child input {
     height: 100px;
 }

 .table-row {
     margin: 30px 0px;
 }

 .table-row .data-table {
     border-spacing: 0;
     border-collapse: collapse;
 }

 .data-table .wiew-c-table tr th {
     text-align: center;
     white-space: nowrap;
     border: 1px solid #ddd;
 }

 .data-table tr:nth-child(even) {
     background-color: rgb(241, 241, 241);
 }

 .data-table tr th {
     background: #528fcb;
     color: #fff;
 }

 .data-table tr td {
     padding: 8px 16px;
 }

 .data-table tr td a svg {
     color: #528fcb;
 }

 .view-detail a {
     cursor: pointer;
 }

 .data-table tr td a {
     color: #528fcb;
     text-decoration: underline;
     cursor: pointer;
 }

 .gray-bg {
     background: #f9f6f6;
 }

 .page-content {
     padding: 0px 0px;
 }

 .pb-40 {
     padding-bottom: 40px;
 }

 .page-content p {
     text-align: justify;
     line-height: 24px;
 }

 img.alignright {
     float: right;
     margin: 5px 0 20px 20px;
 }

 .page-banner {
     width: 100%;
 }

 .add-post-sec {
     background: #fff;
     padding: 8px;
     border-radius: 4px;
     margin-bottom: 20px;
 }

 .add-post-sec h3 {
     padding-left: 10px;
 }

 @media (max-width: 767px) {
     .bound {
         padding: 0px 15px;
         box-sizing: border-box;
     }

     .menu {
         position: relative;
         display: inline-block;
     }

     .menu>.toggle-menu {
         display: block !important;
     }

     .menu>ul {
         display: none;
         position: absolute;
         background-color: #f1f1f1;
         min-width: 200px;
         box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
         z-index: 1;
         right: 0px;
         padding: 15px 10px;
     }

     .menu>.toggle-menu:hover+ul {
         display: block;
     }

     .menu ul li {
         width: 100%;
         padding: 5px 10px;
         display: inline-block;
     }

     .menu ul li a {
         display: inline-block;
         width: 100%;
     }

     .menu ul li>ul li a {
         padding: 0px 20px;
     }
 }


 /* New css */
 .css-1633um2-MuiPaper-root {
     border-radius: 0px !important;
     box-shadow: none !important;
     padding: 0px !important;
 }

 .about-sec {
     background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 1150px, rgba(255, 255, 255, 0) 100%), url(utility/confetti-background-small.png);
     padding: 60px 0px;
     background-repeat: no-repeat;
     background-position: top center;
 }

 .about-sec h2 {
     font-size: 3rem;
     line-height: 1;
     margin: 0px;
 }

 .about-sec h3 {
     line-height: 57px;
     font-size: 3rem;
 }

 .about-sec h4 {
     text-transform: capitalize;
     font-weight: 700;
     font-size: 2.25rem;
     line-height: 2.5rem;
     margin: 0px;
 }

 p.ab-text {
     margin-top: 1.75rem;
     font-size: 1.125rem;
     line-height: 1.75rem;
     font-weight: 500;
 }

 .more-text.subscribe-btn {
     display: flex;
     justify-content: center;
 }

 .more-text a.blue-btn {
     line-height: 1;
     color: #fff;
     margin: 0px 10px;
     width: 248px;
     height: 55px;
     display: flex;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;
     font-size: 1.125rem;
     background-color: rgb(99 102 241);
     padding: 10px 20px;
     border-radius: 10px;
 }

 .more-text a.blue-btn svg {
     font-size: 18px;
     position: relative;
     top: 3px;
     margin-left: 10px;
 }

 ul.banner-bott-ul {
     padding: 0px;
     display: flex;
     margin: 50px 0px 20px;
     justify-content: center;
 }

 ul.banner-bott-ul li {
     list-style: none;
     padding: 0px 10px;
     font-weight: 500;
 }

 ul.banner-bott-ul li svg {
     float: left;
 }

 .three-box .c-box {
     border: 1px solid #ccc;
     box-sizing: border-box;
     border-radius: 5px !important;
     height: 100%;
     padding: 1.5rem 2rem !important;
     text-align: left;
 }

 .three-box .c-box h3 {
     margin: 0px;
     font-size: 1.125rem;
     line-height: 1.75rem;
     display: flex;
     justify-content: space-between;
     color: #000;
 }

 .three-box .c-box h3 svg {
     background-color: rgb(253 230 138);
     padding: 0.5rem;
     border-radius: 9999px
 }

 .three-box .c-box2 {
     border-color: rgb(99 102 241);
     border-width: 4px;
 }

 .three-box .c-box2 h3 svg {
     background-color: rgb(199 210 254);
 }

 .three-box .c-box ul {
     padding: 0px;
 }

 .three-box .c-box ul li {
     padding: 0px;
     list-style: none;
     font-size: .875rem;
     line-height: 1.25rem;
     font-weight: 500;
     display: inline-block;
     width: 100%;
     padding: 3px 0px;
 }

 .three-box .c-box ul li svg {
     color: rgb(34 197 94);
     float: left;
 }

 .three-box .c-box p {
     font-size: .875rem;
     line-height: 1.25rem;
 }

 .three-pra {
     display: flex;
     justify-content: center;
     text-align: left;
 }

 .three-pra p {
     width: 33%;
     padding: 0px 30px;
     box-sizing: border-box;
     font-size: .875rem;
     line-height: 1.25rem;
     display: flex;
     justify-content: center;
 }

 .three-pra p svg {
     margin-right: 20px;
 }

 @keyframes Testimonials_scroll_left__ptmSD {
     0% {
         transform: translateX(0);
     }

     100% {
         transform: translateX(calc(-392px * 5));
     }
 }

 @keyframes Testimonials_scroll_right__nuklF {
     0% {
         transform: translateX(calc(-392px * 5));
     }

     100% {
         transform: translateX(0);
     }
 }

 h2.client-title {
     font-size: 1.875rem;
     line-height: 2.25rem;
     text-align: center;
     padding-bottom: 30px;
     color: #000;
 }

 h3.client-title {
     font-size: 1.25rem;
     line-height: 1.75rem;
     color: #000;
     text-align: center;
     padding-bottom: 30px;
 }

 .Testimonials_slider__RZJw5 {
     height: 300px;
     position: relative;
     width: 100%;
     display: grid;
     place-items: center;
     overflow: hidden;
     padding-bottom: 40px;
 }

 .all-card {
     width: calc(392px * 11);
     display: flex;
     justify-content: space-between;
 }

 .Testimonials_slide_left__1_bLk {
     animation: Testimonials_scroll_left__ptmSD 110s linear infinite;
 }

 .Testimonials_slide_right___Z_yz {
     animation: Testimonials_scroll_right__nuklF 110s linear infinite;
 }

 .Testimonials_slide__MS7Xr {
     width: 392px;
     border-radius: 10px;
     padding-top: 1.75rem;
     padding-bottom: 1.5rem;
     padding-left: 2rem;
     padding-right: 2rem;
     cursor: pointer;
     display: grid;
     height: 215px;
     place-items: center;
     transition-property: all;
     transition-timing-function: cubic-bezier(.4, 0, .2, 1);
     transition-duration: .15s;
     --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
     --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
     box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
     background: radial-gradient(circle, transparent 20%, rgb(243, 104, 159) 20%, rgb(243, 104, 159) 80%, transparent 80%, transparent) 0% 0% / 50px 50px, radial-gradient(circle, transparent 20%, rgb(243, 104, 159) 20%, rgb(243, 104, 159) 80%, transparent 80%, transparent) 25px 25px / 50px 50px, linear-gradient(rgb(251, 119, 176) 2px, transparent 2px) 0px -1px / 25px 25px, linear-gradient(90deg, rgb(251, 119, 176) 2px, rgb(243, 104, 159) 2px) -1px 0px / 25px 25px;
 }

 .justify-between {
     justify-content: space-between;
 }

 .flex-col {
     flex-direction: column;
 }

 .justify-items-center {
     justify-items: center;
 }

 .w-full {
     width: 100%;
 }

 .h-full {
     height: 100%;
 }

 .flex {
     display: flex;
 }

 .pt-7 {
     padding-top: 1.75rem;
 }

 .pb-6 {
     padding-bottom: 1.5rem;
 }

 .px-8 {
     padding-left: 2rem;
     padding-right: 2rem;
 }

 .cursor-pointer {
     cursor: pointer;
 }

 blockquote,
 dd,
 dl,
 figure,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 hr,
 p,
 pre {
     margin: 0;
 }

 .font-bold {
     font-weight: 700;
 }

 .text-2xl {
     font-size: 1.5rem;
     line-height: 2rem;
 }

 .opacity-70 {
     opacity: .7;
 }

 .text-sm {
     font-size: .875rem;
     line-height: 1.25rem;
 }

 .-mt-1 {
     margin-top: -0.25rem;
 }

 .w-20 {
     width: 5rem;
 }

 .h-20 {
     height: 5rem;
 }

 .rounded-full {
     border-radius: 9999px;
 }

 img,
 video {
     max-width: 100%;
     height: auto;
 }

 .growth-bos {
     grid-template-columns: repeat(2, minmax(0, 1fr));
     max-width: 48rem;
     margin-left: auto;
     margin-right: auto;
     padding-top: 2rem;
     padding-bottom: 2rem;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     gap: 1.5rem;
     display: grid;
 }

 .growth-bos .space-y-4 {
     color: rgb(255 255 255);
     padding-top: 2.5rem;
     padding-bottom: 2.5rem;
     box-sizing: border-box;
     padding-left: 2.5rem;
     padding-right: 2.5rem;
     background-color: rgb(79 70 229);
     border-radius: 0.25rem;
 }

 .font-black {
     font-weight: 900;
 }

 .text-4xl {
     font-size: 2.25rem;
     line-height: 2.5rem;
 }

 .text-slate-200 {
     color: rgb(226 232 240);
 }

 .text-xl {
     font-size: 1.25rem;
     line-height: 1.75rem;
 }

 .text-indigo-600 {
     --tw-text-opacity: 1;
     color: rgb(79 70 229);
 }

 .text-center {
     text-align: center;
     width: 100%;
 }

 .mt-2 {
     margin-top: 0.5rem;
 }

 .mt-4 {
     margin-top: 1rem;
 }

 .max-w-2xl {
     max-width: 42rem;
 }

 .mx-auto {
     margin-left: auto;
     margin-right: auto;
 }

 .go-facebook {
     display: flex;
     max-width: 56rem;
     margin: 0px auto;
     padding: 40px 0px;
     gap: 45px;
     justify-content: space-between;
 }

 .left-box {
     width: 50%;
 }

 .left-box h3 {
     margin: 0px;
     font-size: 1.875rem;
     line-height: 2.25rem;
     display: flex;
     justify-content: space-between;
     color: #000;
 }

 .text-lg {
     font-size: 1.125rem;
     line-height: 1.75rem;
 }

 .pt-6 {
     padding-top: 1.5rem;
 }

 .py-3 {
     padding-top: 0.75rem;
     padding-bottom: 0.75rem;
 }

 .px-8 {
     padding-left: 2rem;
     padding-right: 2rem;
 }

 .bg-black {
     --tw-bg-opacity: 1;
     background-color: rgb(0 0 0);
 }

 .rounded-xl {
     border-radius: 0.75rem;
 }

 .justify-center {
     justify-content: center;
 }

 .items-center {
     align-items: center;
 }

 .flex {
     display: flex;
 }

 .mt-8 {
     margin-top: 2rem;
 }

 .w-5 {
     width: 1.25rem;
 }

 .h-5 {
     height: 1.25rem;
 }

 .mt-0\.5 {
     margin-top: 0.125rem;
 }

 .text-white {
     --tw-text-opacity: 1;
     color: rgb(255 255 255);
 }

 .services h2 {
     font-size: 3rem;
     line-height: 1;
     letter-spacing: -.025em;
     color: #000;
 }

 .all-srv {
     padding-top: 2rem;
     padding-bottom: 2rem;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     gap: 2rem;
     margin: 0px auto;
     display: grid;
     max-width: 32rem;
     grid-template-columns: repeat(2, minmax(0, 1fr));
     justify-content: space-between;
     align-items: center;
 }

 .all-srv .more-text a.blue-btn {
     background-color: rgb(243 244 246);
     font-size: 1.25rem;
     line-height: 1.75rem;
     color: #000;
 }

 .all-srv .more-text a.blue-btn svg {
     float: left;
     margin: -4px 10px 0px 0px;
     font-size: 23px;
 }

 .all-acco {
     max-width: 42rem;
     margin: 0px auto;
 }

 .all-acco .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
     padding: 5px 0px;
 }

 .all-acco .css-ahj2mt-MuiTypography-root {
     font-size: 16px;
     font-weight: 500;
     font-family: 'Montserrat', sans-serif !important;
 }

 .join-our-sec {
     width: 100%;
 }

 .join-our-sec .text-box {
     max-width: 56rem;
     margin: 0px auto;

     color: rgb(255 255 255);
     font-weight: 700;
     font-size: 1.5rem;
     line-height: 2rem;
     border: 15px solid #86efac;
     background: #3b82f6;
     padding: 1rem;
     border-radius: 1rem;
     margin-top: 2rem;
     margin-bottom: 2rem;

 }

 .about-sec .join-our-sec .text-box h3 {
     font-size: 1.5rem;
     line-height: 2rem;
     text-align: center;
     color: #fff
 }

 .about-sec .join-our-sec .more-text a.blue-btn {
     background: #000;
     width: 100%;
     margin-top: 20px;
 }

 .join-sec h3 {
     font-size: 1.5rem;
     line-height: 2rem;
     color: #000;
 }

 .join-sec p.ab-text,
 .join-sec li {
     margin-bottom: 1rem;
     font-size: 16px;
     list-style: none;
     color: #000;
 }

 .footer {
     border-top: 0px;
     background-size: auto;
     padding: 40px 0px;
 }

 .footer .comman-title {
     color: #000;
     font-size: 1.125rem;
     line-height: 1.75rem;
     font-weight: 500;
 }

 .footer nav ul {
     padding: 0px;
 }

 .footer nav ul li {
     list-style: none;
 }

 .footer nav ul li a {
     color: #000;
     line-height: 35px;
 }

 .f-menu {
     display: flex;
 }

 .f-menu>div {
     width: 33%;
 }

 .copyright {
     background: none;
     color: #0000;
     padding: 20px 0px 60px;
 }

 .b-fot {
     display: flex;
     justify-content: space-between;
 }

 .copyright p,
 .copyright p a {
     color: #000;
 }